<div class="row">
  <div class="col-md-8">
    <h3>{{videoGameDetails.name}}</h3>
  </div>
  <div class="col-md-4">
    <div ngbDropdown class="d-inline-block float-right" placement="bottom-right">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" type="button" (click)="AddToCart()">Add To Cart</button>
        <button class="dropdown-item">Wish List</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <img [src]="videoGameDetails.imagePath" alt="{{videoGameDetails.name}}" class="img-fluid" style="max-height: 250px">
  </div>
  <div class="col-md-7">
    <table class="table table-borderless table-sm">
      <small>
        <tr>
          <th scope="row">Publisher:</th>
          <td>{{videoGameDetails.publisher}}</td>
        </tr>
        <tr>
          <th scope="row">Platrforms</th>
          <td>
            <div *ngFor="let platform of videoGameDetails.platforms">
              {{platform}}
              <a href="#" placement="right" ngbTooltip="Add To Cart">
                <i class="fa fa-shopping-cart"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Release:</th>
          <td>{{videoGameDetails.dateOfRelease}}</td>
        </tr>
        <tr>
          <th scope="row">Genres:</th>
          <td>
            <div *ngFor="let genre of videoGameDetails.genres">
              {{genre}}
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Modes:</th>
          <td>
            <div *ngFor="let mode of videoGameDetails.modes">
              {{mode}}
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Metacritic:</th>
          <td>
            {{videoGameDetails.metaCritic}}
          </td>
        </tr>
        <tr>
          <th scope="row">User Score:</th>
          <td>
            <ngb-rating [(rate)]="videoGameDetails.userRating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          </td>
        </tr>
      </small>
    </table>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <iframe width="540" height="315" [src]="sanitizedUrl" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>