<div class="row">
  <div class="col-md-12">
    <h3>{{videoGameDetails.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img [src]="videoGameDetails.imagePath" alt="{{videoGameDetails.name}}" class="img-fluid" style="max-height: 300px">
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
        <a class="dropdown-item" href="#">Link</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{videoGameDetails.description}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <iframe width="500" height="315" [src]="sanitizedUrl" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>