<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="VideoGameName">
            <b>VideoGame Name</b>
          </label>
          <input type="text" class="form-control" id="VideoGameName" placeholder="Enter the videoGame name">
        </div>
        <div class=" col-md-2 form-group">
          <label for="amount">
            <b>Amount</b>
          </label>
          <input type="number" min="0" class="form-control" id="amount" placeholder="Amount">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-warning">Delete</button>
          <button type="button" class="btn btn-danger">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>